.root {
  padding: 20px;
  text-align: center;
  background-color: #EFFEE7;
  max-width: rem(300px);
}

.title {
  font-size: 16px;
  color: red;
}

.content {
  font-size: rem(16px);
  color: light-dark(green, blue);

  @mixin hover {
    color: orange;
  }

  @media (min-width: em(576px)) {
    font-size: rem(32px);
    color: pink;
  }
}
